:root {
  --base_color: #1b75bc;
}

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
}

.root {
  display: grid;
  grid-template-rows: min-content auto min-content;
}

.header,
.footer {
  padding: 0.5em;
  background-color: var(--base_color);
  color: white;
}

.main {
  padding: 0.5em;
}

.main-big-content {
  /* height: 2000px; */
}

.menu {
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  transition: all 0.1s ease-in-out;
  list-style-type: none;
}
.menu li {
  border-bottom: solid 1px;
  padding: 0.5em;
}
.menu a {
  text-align: center;
  color: white;
  text-decoration: none;
}
.menu.show {
  margin-top: 1em;
  height: 100vh;
}

/** Hamburger **/
.hamburger {
  position: absolute;
  right: 1em;
  top: 0.5em;
}

.hamburger div {
  position: relative;
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin-top: 6px;
  transition: all 0.3s ease-in-out;
}

/** Animations **/
#toggle:checked + .hamburger .top-bun {
  transform: rotate(-45deg);
  margin-top: 15px;
}
#toggle:checked + .hamburger .bottom-bun {
  opacity: 0;
  transform: rotate(45deg);
}
#toggle:checked + .hamburger .meat {
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle:checked + .hamburger + .nav {
  top: 0;
  transform: scale(1);
}

#toggle {
  display: none;
}
