<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
    <div class="root">
        <div class="header">
            {% block header %}
            {% endblock %}
        </div>

        <div class="main">
            <div class="main-big-content">
                {% block content %}
                {% endblock %}
            </div>
        </div>


        <!-- <div class="footer">
            {% block footer %}
            {% endblock %}
        </div> -->
    </div>
</body>


</html>