{% extends "footer.html" %}
{% block header %}

<a href="/" style="height: 100%;"><img src="/static/svg/CTSPI-01.svg" height="35px"></a>

<input id="toggle" type="checkbox"></input>
<label id='menu_trigger' for="toggle" class="hamburger">
    <div class="top-bun"></div>
    <div class="meat"></div>
    <div class="bottom-bun"></div>
</label>

<ul id='menu' class="menu">
    {% for el in items %}
    <li>
        <a href="/{{ el.name }}">{{ el.title }}</a>
    </li>
    {% endfor %}
</ul>
<script>
    var link = document.querySelector('#menu_trigger');
    var elem = document.querySelector('#menu');

    link.addEventListener('click', function () {
        elem.classList.toggle('show')
    });
</script>
{% endblock %}